<div class="aboutus">
    <h3>About us</h3>
    <div class="content">
        <div class="info">
            <p class="paragr">In today's world, the importance of a well-executed web presence cannot be underestimated</p>
            <p class="paragr2">Our company's history starts 20 years ago when we've decided to make the world a better place for those, who are the owners or smaller business! By now we’ve helped hundreds of top-flight companies and thousands of SMBs to call the right decisions on internal management, M&As, etc.</p>
        </div>
        <div class="statistics">
            <div class="inscription">
                <div class="name">Digital</div>
                <div class="perecentage">90%</div>
            </div>
            <div class="line">
                <div class="orange1"></div>
            </div>
            <div class="inscription">
                <div class="name">Branding</div>
                <div class="perecentage">78%</div>
            </div>
            <div class="line">
                <div class="orange2"></div>
            </div>
            <div class="inscription">
                <div class="name">Illustration</div>
                <div class="perecentage">85%</div>
            </div>
            <div class="line">
                <div class="orange3"></div>
            </div>
        </div>
    </div>
</div>
