    <div class="under_header">
        <div class="under_header_left">
            <div class="under_image"><a href=""><img src="img/home-logo.png" alt=""></a></div>
            <a href="" class="busin">BUSINEZZ</a>
        </div>
        <div class="under_header_right">
            <a href="">Gallery</a>
            <a href="">PRICING</a>
            <a href="">CONTACTS</a>
            <a href="">ALL BLOCKS</a>
        </div>
        <div class="burger_menu">
            <div class="square"><i class="fa-solid fa-bars"></i></div>
        </div>
    </div>

    <div class="main">          
        <p class="motofirst">A Universal</p>
        <br>
        <strong>
            <span class="parag">Business</span>
            <span class="motosecond">theme</span>
        </strong>
        <p class="parag2">For those, who won't settle for anything less.</p>
        <a href="" class="linker">CALL2ACTION</a>
    </div>

    <div class="under_main">
        <div class="text">Why Choose Us</div>
        <div class="parent">
            <div class="parent_item">
                <div><img src="img/under_main1.png" alt=""></div>
                <h3>Investment Advice</h3>
                <p>We help our clients take advantage of any investment out in the world - from commodities to stock exchange...</p>
            </div>
            <div class="parent_item">
                <div><img src="img/under_main2.png" alt=""></div>
                <h3>Creating Business Plan</h3>
                <p>A great business plan is a foundation of every successful business, this is why we offer our clients the services allowing...</p>
            </div>
            <div class="parent_item">
                <div><img src="img/under_main3.png" alt=""></div>
                <h3>Strategic Planning</h3>
                <p>If you need your business flourish despite all circumstances, then it is a perfect strategic planning you need to do.</p>
            </div>
        </div>
    </div>  

    